[mysqld]
max_allowed_packet=64M
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql
!includedir /etc/mysql/conf.d/
# change default auth back to legacy, done in docker env level
# default-authentication-plugin=mysql_native_password
